* {
  box-sizing: border-box;
  padding: 0;
}

html, body {
  min-height: 100vh;
  background: linear-gradient(#e9f0ef, #1c283e);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  padding: 0 calc(50vw - 520px);
}
.header__title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: normal;
  border-bottom: 1px solid #0d1618;
}

.btn_wlc {
  color: #061224;
  padding: 10px 16px;
  font-size: 18px;
  font-weight: 700;
  background-color: rgb(103, 183, 232);
}